$primaryColor: #2196F3;
$secondaryColor: #FFF;
$fontColor: #212121;
$accent: #FFC107;


$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
